{% extends 'base.html.twig' %}

{% block title %}{{ app_title }}{% endblock %}

{% block body %}
    <script>
        window.APP_TRANSLATIONS = {{ get_app_translations()|json_encode|raw }};
    </script>
    {% set routes = {
        'invoices_collection': path('_api_/invoices{._format}_get_collection'),
        'invoices_export': path('invoice_export', {'id': -1, 'format': 'html'})
    } %}
    <div id="root" data-routes="{{ routes|json_encode|e('html_attr') }}"></div>
{% endblock %}
